<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="/static/css/cart.css">
		<script src="/static/js/jquery-1.11.3.js"></script>
		<script src="/static/js/cart.js"></script>
	</head>
	<body>
		<div style="width:1123px;"><a style="float: right;" href="{% url 'index' %}">返回首页</a></div>
		<p>购物车</p>
		<table border="1">
			<thead id="head">
			</thead>
			<tbody id="body">
			</tbody>
		</table>
		<div id="buttom"></div>	
	</body>
</html>